*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: .5em 3em;
    background-color: lightcoral;
    position: relative;
}

h1 {
    text-align: center;
}

nav {
    background-color:lightcoral;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 1em;
    color: #fff;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 250ms ease-in-out;
}

nav a {
    text-decoration: none;
    color: inherit;

    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-bottom: .5em;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ nav {
    transform: scale(1, 1);
}

#menu-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 100ms;
}

.menu-toggle-icon {
    position: absolute;
    left: 1em;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.menu-toggle-icon span,
.menu-toggle-icon span::before,
.menu-toggle-icon span::after {
    display: block;
    background: #fff;
    border-radius: 2px;
    height: 2px;
    width: 2em;
    position: relative;
}

.menu-toggle-icon span::before,
.menu-toggle-icon span::after {
    content: '';
    position: absolute;
}

.menu-toggle-icon span::before {
    bottom: .5em;
}

.menu-toggle-icon span::after {
    top: .5em;
}

@media only screen and (min-width: 800px) {
    .menu-toggle-icon {
        display: none;
    }

    nav {
        all: unset;
        color: #fff;
    }

    nav a {
        opacity: 1;
    }

    header nav li {
        margin-bottom: 0;
        margin-left: 5vw;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
    }
}