.hero {
    height: 80vh;
    width: 100%;
    background-image: url("/img/uk-work/banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .container {
    height: 100%;
    padding: 3em 0;
    display: flex;
    align-items: center;
}

.hero__content {
    padding: 2em 1em;
    background-color: #00000090;
    width: 50%;
    color: var(--clr-light);
    border-radius: 10px;
    font-size: 1.1rem;
}

.hero__content h1 {
    margin-bottom: .4em;
}

