.hero {
    height: 80vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1635432931242-5d18fe4f47c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1175&q=80");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .container {
    height: 100%;
    padding: 3em 0;
    display: flex;
    align-items: center;
}

.hero__content {
    padding: 1.5em 1em;
    background-color: #00000050;
    width: 50%;
    color: var(--clr-light);
    border-radius: 10px;
}

.hero__content h1 {
    margin-bottom: .4em;
}

